* {
  margin: 0px;
  padding: 0px;
}


.icon{
  width: 3em;
  height: 3em;
  border-radius: 2em;
}

.previewPostImage{
  width: 80%;
  height: auto;
  border-radius: 2em;
}

.redditPreviewPostImage{
  width: 80%;
  height: auto;
  border-radius: 2em;
}

body {
  height: 100vh;
  width: 100vw;
}
.socialMediaIcon{
  width: 2em;
  height: 2em;
  border-radius: 2em;
  margin:0.2em;
}

.fullImage{
  width: 60%;
  height: auto;
}
